body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1431px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:817px;
}
#u2054 {
  position:absolute;
  left:0px;
  top:48px;
  width:179px;
  height:816px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:400px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056 {
  position:absolute;
  left:179px;
  top:50px;
  width:2px;
  height:801px;
  overflow:hidden;
}
#u2056_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u2056_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:49px;
}
#u2057 {
  position:absolute;
  left:18px;
  top:0px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u2057_img.selected {
}
#u2057.selected {
}
#u2058 {
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:903px;
}
#u2059 {
  position:absolute;
  left:179px;
  top:50px;
  width:1px;
  height:902px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:443px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u2062 {
  position:absolute;
  left:452px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2062_img.mouseOver {
}
#u2062.mouseOver {
}
#u2062_img.selected {
}
#u2062.selected {
}
#u2063 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u2064 {
  position:absolute;
  left:364px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2064_img.mouseOver {
}
#u2064.mouseOver {
}
#u2064_img.selected {
}
#u2064.selected {
}
#u2065 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u2066 {
  position:absolute;
  left:277px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2066_img.mouseOver {
}
#u2066.mouseOver {
}
#u2066_img.selected {
}
#u2066.selected {
}
#u2067 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u2068 {
  position:absolute;
  left:1351px;
  top:17px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:59px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:-9px;
  width:1429px;
  height:58px;
  color:#FFFFFF;
}
#u2071 {
  position:absolute;
  left:2px;
  top:21px;
  width:1425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
}
#u2072 {
  position:absolute;
  left:18px;
  top:6px;
  width:169px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2074 {
  position:absolute;
  left:234px;
  top:11px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2076 {
  position:absolute;
  left:323px;
  top:11px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2078 {
  position:absolute;
  left:456px;
  top:11px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:34px;
}
#u2080 {
  position:absolute;
  left:576px;
  top:8px;
  width:30px;
  height:33px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2082 {
  position:absolute;
  left:654px;
  top:14px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u2084 {
  position:absolute;
  left:633px;
  top:16px;
  width:16px;
  height:19px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2086 {
  position:absolute;
  left:748px;
  top:12px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:51px;
}
#u2088 {
  position:absolute;
  left:179px;
  top:50px;
  width:1250px;
  height:50px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:17px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:766px;
}
#u2090 {
  position:absolute;
  left:179px;
  top:99px;
  width:1250px;
  height:765px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:374px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:200px;
  height:23px;
}
#u2092 {
  position:absolute;
  left:207px;
  top:67px;
  width:195px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u2092_img.selected {
}
#u2092.selected {
}
#u2093 {
  position:absolute;
  left:10px;
  top:-2px;
  width:183px;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u2094 {
  position:absolute;
  left:1021px;
  top:10px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:261px;
}
#u2096 {
  position:absolute;
  left:181px;
  top:151px;
  width:1250px;
  height:260px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:122px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:51px;
}
#u2098 {
  position:absolute;
  left:179px;
  top:100px;
  width:1250px;
  height:50px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:17px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:20px;
}
#u2100 {
  position:absolute;
  left:207px;
  top:119px;
  width:161px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
}
#u2102 {
  position:absolute;
  left:231px;
  top:164px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:230px;
}
#u2104 {
  position:absolute;
  left:438px;
  top:167px;
  width:1px;
  height:229px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:106px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:25px;
}
#u2106 {
  position:absolute;
  left:561px;
  top:164px;
  width:127px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:230px;
}
#u2108 {
  position:absolute;
  left:763px;
  top:172px;
  width:1px;
  height:229px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:106px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u2110 {
  position:absolute;
  left:883px;
  top:170px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2111 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:227px;
}
#u2112 {
  position:absolute;
  left:1076px;
  top:170px;
  width:1px;
  height:226px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:105px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u2114 {
  position:absolute;
  left:1171px;
  top:170px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2116 {
  position:absolute;
  left:467px;
  top:215px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:66px;
  height:21px;
}
#u2118p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:59px;
  height:1px;
}
#u2118p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:69px;
  height:21px;
}
#u2118p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u2118p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u2118p002 {
  position:absolute;
  left:42px;
  top:-11px;
  width:22px;
  height:22px;
}
#u2118p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u2118.compound {
  width:0px;
  height:0px;
}
#u2118 {
  position:absolute;
  left:550px;
  top:226px;
  width:56px;
  height:1px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:-8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:23px;
}
#u2120 {
  position:absolute;
  left:616px;
  top:215px;
  width:138px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2122 {
  position:absolute;
  left:467px;
  top:247px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:66px;
  height:21px;
}
#u2124p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:59px;
  height:1px;
}
#u2124p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:69px;
  height:21px;
}
#u2124p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u2124p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u2124p002 {
  position:absolute;
  left:42px;
  top:-11px;
  width:22px;
  height:22px;
}
#u2124p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u2124.compound {
  width:0px;
  height:0px;
}
#u2124 {
  position:absolute;
  left:550px;
  top:258px;
  width:56px;
  height:1px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:-8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
}
#u2126 {
  position:absolute;
  left:616px;
  top:247px;
  width:139px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2128 {
  position:absolute;
  left:467px;
  top:280px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:66px;
  height:21px;
}
#u2130p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:59px;
  height:1px;
}
#u2130p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:69px;
  height:21px;
}
#u2130p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u2130p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u2130p002 {
  position:absolute;
  left:42px;
  top:-11px;
  width:22px;
  height:22px;
}
#u2130p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u2130.compound {
  width:0px;
  height:0px;
}
#u2130 {
  position:absolute;
  left:550px;
  top:291px;
  width:56px;
  height:1px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:-8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
}
#u2132 {
  position:absolute;
  left:616px;
  top:280px;
  width:139px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u2134 {
  position:absolute;
  left:467px;
  top:332px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:21px;
}
#u2136p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:23px;
  height:1px;
}
#u2136p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:33px;
  height:21px;
}
#u2136p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u2136p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u2136p002 {
  position:absolute;
  left:6px;
  top:-11px;
  width:22px;
  height:22px;
}
#u2136p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u2136.compound {
  width:0px;
  height:0px;
}
#u2136 {
  position:absolute;
  left:586px;
  top:343px;
  width:20px;
  height:1px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:23px;
}
#u2138 {
  position:absolute;
  left:616px;
  top:332px;
  width:138px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2139 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u2140 {
  position:absolute;
  left:467px;
  top:364px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:21px;
}
#u2142p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:23px;
  height:1px;
}
#u2142p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:33px;
  height:21px;
}
#u2142p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u2142p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u2142p002 {
  position:absolute;
  left:6px;
  top:-11px;
  width:22px;
  height:22px;
}
#u2142p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u2142.compound {
  width:0px;
  height:0px;
}
#u2142 {
  position:absolute;
  left:586px;
  top:375px;
  width:20px;
  height:1px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
}
#u2144 {
  position:absolute;
  left:616px;
  top:364px;
  width:139px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2146 {
  position:absolute;
  left:467px;
  top:306px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2147 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:66px;
  height:21px;
}
#u2148p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:59px;
  height:1px;
}
#u2148p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:69px;
  height:21px;
}
#u2148p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u2148p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u2148p002 {
  position:absolute;
  left:42px;
  top:-11px;
  width:22px;
  height:22px;
}
#u2148p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u2148.compound {
  width:0px;
  height:0px;
}
#u2148 {
  position:absolute;
  left:550px;
  top:317px;
  width:56px;
  height:1px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:-8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:23px;
}
#u2150 {
  position:absolute;
  left:616px;
  top:306px;
  width:138px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:23px;
}
#u2152 {
  position:absolute;
  left:844px;
  top:226px;
  width:173px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:23px;
}
#u2154 {
  position:absolute;
  left:844px;
  top:270px;
  width:173px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2155 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:23px;
}
#u2156 {
  position:absolute;
  left:844px;
  top:317px;
  width:174px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:23px;
}
#u2158 {
  position:absolute;
  left:1145px;
  top:235px;
  width:173px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2159 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:23px;
}
#u2160 {
  position:absolute;
  left:1145px;
  top:279px;
  width:173px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2161 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:23px;
}
#u2162 {
  position:absolute;
  left:1145px;
  top:326px;
  width:174px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:23px;
}
#u2164 {
  position:absolute;
  left:222px;
  top:226px;
  width:183px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:23px;
}
#u2166 {
  position:absolute;
  left:222px;
  top:270px;
  width:173px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2167 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:23px;
}
#u2168 {
  position:absolute;
  left:222px;
  top:317px;
  width:174px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2169 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u2170 {
  position:absolute;
  left:903px;
  top:108px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2170_img.mouseOver {
}
#u2170.mouseOver {
}
#u2171 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u2172 {
  position:absolute;
  left:787px;
  top:110px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2172_img.mouseOver {
}
#u2172.mouseOver {
}
#u2173 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2174 {
  position:absolute;
  left:194px;
  top:229px;
  width:18px;
  height:16px;
}
#u2175 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2176 {
  position:absolute;
  left:194px;
  top:273px;
  width:18px;
  height:16px;
}
#u2177 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2178 {
  position:absolute;
  left:194px;
  top:320px;
  width:18px;
  height:16px;
}
#u2179 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2180 {
  position:absolute;
  left:446px;
  top:215px;
  width:18px;
  height:16px;
}
#u2181 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2182 {
  position:absolute;
  left:446px;
  top:250px;
  width:18px;
  height:16px;
}
#u2183 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2182_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2184 {
  position:absolute;
  left:446px;
  top:282px;
  width:18px;
  height:16px;
}
#u2185 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2184_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2186 {
  position:absolute;
  left:446px;
  top:367px;
  width:18px;
  height:16px;
}
#u2187 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2186_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2188 {
  position:absolute;
  left:446px;
  top:309px;
  width:18px;
  height:16px;
}
#u2189 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2190 {
  position:absolute;
  left:446px;
  top:335px;
  width:18px;
  height:16px;
}
#u2191 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2192 {
  position:absolute;
  left:816px;
  top:229px;
  width:18px;
  height:16px;
}
#u2193 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2194 {
  position:absolute;
  left:816px;
  top:273px;
  width:18px;
  height:16px;
}
#u2195 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2196 {
  position:absolute;
  left:816px;
  top:320px;
  width:18px;
  height:16px;
}
#u2197 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2198 {
  position:absolute;
  left:1117px;
  top:238px;
  width:18px;
  height:16px;
}
#u2199 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2200 {
  position:absolute;
  left:1117px;
  top:280px;
  width:18px;
  height:16px;
}
#u2201 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2202 {
  position:absolute;
  left:1117px;
  top:329px;
  width:18px;
  height:16px;
}
#u2203 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:404px;
}
#u2204 {
  position:absolute;
  left:179px;
  top:461px;
  width:1250px;
  height:403px;
}
#u2205 {
  position:absolute;
  left:2px;
  top:194px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:51px;
}
#u2206 {
  position:absolute;
  left:179px;
  top:411px;
  width:1250px;
  height:50px;
}
#u2207 {
  position:absolute;
  left:2px;
  top:17px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u2208 {
  position:absolute;
  left:207px;
  top:427px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2209 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2210 {
  position:absolute;
  left:283px;
  top:429px;
  width:131px;
  height:22px;
}
#u2210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2210_input:disabled {
  color:grayText;
}
#u2211 {
  position:absolute;
  left:438px;
  top:429px;
  width:131px;
  height:22px;
}
#u2211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2211_input:disabled {
  color:grayText;
}
#u2212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:308px;
}
#u2212 {
  position:absolute;
  left:287px;
  top:491px;
  width:1px;
  height:307px;
}
#u2213 {
  position:absolute;
  left:2px;
  top:146px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:2px;
}
#u2214 {
  position:absolute;
  left:287px;
  top:797px;
  width:537px;
  height:1px;
}
#u2215 {
  position:absolute;
  left:2px;
  top:-8px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u2216 {
  position:absolute;
  left:321px;
  top:806px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2217 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u2218 {
  position:absolute;
  left:511px;
  top:806px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2219 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u2220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u2220 {
  position:absolute;
  left:695px;
  top:808px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2221 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u2222 {
  position:absolute;
  left:600px;
  top:429px;
  width:131px;
  height:22px;
}
#u2222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2222_input:disabled {
  color:grayText;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
}
#u2223 {
  position:absolute;
  left:266px;
  top:733px;
  width:11px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2224 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u2225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u2225 {
  position:absolute;
  left:261px;
  top:662px;
  width:21px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2226 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u2227 {
  position:absolute;
  left:261px;
  top:595px;
  width:21px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2228 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u2229 {
  position:absolute;
  left:261px;
  top:540px;
  width:21px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2230 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2231_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:349px;
  height:154px;
}
#u2231 {
  position:absolute;
  left:376px;
  top:524px;
  width:346px;
  height:151px;
}
#u2232 {
  position:absolute;
  left:2px;
  top:68px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2233 {
  position:absolute;
  left:364px;
  top:667px;
  width:17px;
  height:17px;
}
#u2234 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2235 {
  position:absolute;
  left:548px;
  top:591px;
  width:17px;
  height:17px;
}
#u2236 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2237 {
  position:absolute;
  left:714px;
  top:518px;
  width:17px;
  height:17px;
}
#u2238 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u2239 {
  position:absolute;
  left:0px;
  top:48px;
  width:179px;
  height:50px;
  font-size:18px;
  color:#000000;
}
#u2240 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u2241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:27px;
}
#u2241 {
  position:absolute;
  left:18px;
  top:59px;
  width:32px;
  height:26px;
}
#u2242 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u2243 {
  position:absolute;
  left:0px;
  top:100px;
  width:179px;
  height:50px;
  font-size:18px;
  color:#000000;
}
#u2244 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u2245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u2245 {
  position:absolute;
  left:19px;
  top:227px;
  width:32px;
  height:24px;
}
#u2246 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u2247 {
  position:absolute;
  left:1px;
  top:260px;
  width:179px;
  height:50px;
  font-size:18px;
}
#u2248 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u2249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u2249 {
  position:absolute;
  left:1px;
  top:310px;
  width:179px;
  height:50px;
  font-size:18px;
}
#u2250 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u2251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u2251 {
  position:absolute;
  left:1px;
  top:360px;
  width:179px;
  height:50px;
  font-size:18px;
}
#u2252 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u2253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:9px;
}
#u2253 {
  position:absolute;
  left:144px;
  top:391px;
  width:20px;
  height:8px;
}
#u2254 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u2255 {
  position:absolute;
  left:1px;
  top:410px;
  width:179px;
  height:50px;
  font-size:18px;
  color:#000000;
}
#u2256 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u2257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u2257 {
  position:absolute;
  left:1px;
  top:460px;
  width:179px;
  height:50px;
  font-size:18px;
  color:#FF0000;
}
#u2258 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u2259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u2259 {
  position:absolute;
  left:19px;
  top:372px;
  width:26px;
  height:28px;
}
#u2260 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u2261 {
  position:absolute;
  left:1px;
  top:160px;
  width:179px;
  height:50px;
  font-size:18px;
  color:#000000;
}
#u2262 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u2263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u2263 {
  position:absolute;
  left:0px;
  top:510px;
  width:179px;
  height:50px;
  font-size:18px;
}
#u2264 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u2265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u2265 {
  position:absolute;
  left:12px;
  top:524px;
  width:32px;
  height:20px;
}
#u2266 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u2267 {
  position:absolute;
  left:0px;
  top:560px;
  width:179px;
  height:50px;
  font-size:18px;
}
#u2268 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u2269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u2269 {
  position:absolute;
  left:0px;
  top:620px;
  width:179px;
  height:50px;
  font-size:18px;
}
#u2270 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2271 {
  position:absolute;
  left:16px;
  top:633px;
  width:25px;
  height:25px;
}
#u2272 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u2273 {
  position:absolute;
  left:0px;
  top:216px;
  width:179px;
  height:50px;
  font-size:18px;
}
#u2274 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u2275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:9px;
}
#u2275 {
  position:absolute;
  left:149px;
  top:240px;
  width:20px;
  height:8px;
}
#u2276 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
