body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:817px;
}
#u4976 {
  position:absolute;
  left:0px;
  top:57px;
  width:179px;
  height:816px;
}
#u4977 {
  position:absolute;
  left:2px;
  top:400px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4978 {
  position:absolute;
  left:179px;
  top:59px;
  width:2px;
  height:801px;
  overflow:hidden;
}
#u4978_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u4978_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:49px;
}
#u4979 {
  position:absolute;
  left:18px;
  top:9px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u4979_img.selected {
}
#u4979.selected {
}
#u4980 {
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u4981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:903px;
}
#u4981 {
  position:absolute;
  left:179px;
  top:59px;
  width:1px;
  height:902px;
}
#u4982 {
  position:absolute;
  left:2px;
  top:443px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u4984 {
  position:absolute;
  left:452px;
  top:9px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4984_img.mouseOver {
}
#u4984.mouseOver {
}
#u4984_img.selected {
}
#u4984.selected {
}
#u4985 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u4986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u4986 {
  position:absolute;
  left:364px;
  top:9px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4986_img.mouseOver {
}
#u4986.mouseOver {
}
#u4986_img.selected {
}
#u4986.selected {
}
#u4987 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u4988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u4988 {
  position:absolute;
  left:277px;
  top:9px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4988_img.mouseOver {
}
#u4988.mouseOver {
}
#u4988_img.selected {
}
#u4988.selected {
}
#u4989 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u4990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u4990 {
  position:absolute;
  left:1351px;
  top:26px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4991 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:59px;
}
#u4992 {
  position:absolute;
  left:0px;
  top:0px;
  width:1429px;
  height:58px;
  color:#FFFFFF;
}
#u4993 {
  position:absolute;
  left:2px;
  top:21px;
  width:1425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
}
#u4994 {
  position:absolute;
  left:18px;
  top:15px;
  width:169px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u4995 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u4996 {
  position:absolute;
  left:234px;
  top:20px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4997 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u4998 {
  position:absolute;
  left:323px;
  top:20px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4999 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u5000 {
  position:absolute;
  left:456px;
  top:20px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u5002 {
  position:absolute;
  left:0px;
  top:58px;
  width:179px;
  height:50px;
  font-size:18px;
}
#u5003 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u5004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:27px;
}
#u5004 {
  position:absolute;
  left:18px;
  top:69px;
  width:32px;
  height:26px;
}
#u5005 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u5006 {
  position:absolute;
  left:0px;
  top:110px;
  width:179px;
  height:50px;
  font-size:18px;
  color:#1E1E1E;
}
#u5007 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u5008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u5008 {
  position:absolute;
  left:0px;
  top:160px;
  width:179px;
  height:50px;
  font-size:18px;
}
#u5009 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u5010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:34px;
}
#u5010 {
  position:absolute;
  left:576px;
  top:17px;
  width:30px;
  height:33px;
}
#u5011 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u5012 {
  position:absolute;
  left:18px;
  top:177px;
  width:32px;
  height:24px;
}
#u5013 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u5014 {
  position:absolute;
  left:0px;
  top:210px;
  width:179px;
  height:50px;
  font-size:18px;
  color:#FF0000;
}
#u5015 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u5016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u5016 {
  position:absolute;
  left:0px;
  top:260px;
  width:179px;
  height:50px;
  font-size:18px;
}
#u5017 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u5018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u5018 {
  position:absolute;
  left:0px;
  top:310px;
  width:179px;
  height:50px;
  font-size:18px;
}
#u5019 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u5020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:9px;
}
#u5020 {
  position:absolute;
  left:149px;
  top:184px;
  width:20px;
  height:8px;
}
#u5021 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:9px;
}
#u5022 {
  position:absolute;
  left:143px;
  top:331px;
  width:20px;
  height:8px;
}
#u5023 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u5024 {
  position:absolute;
  left:0px;
  top:360px;
  width:179px;
  height:50px;
  font-size:18px;
  color:#000000;
}
#u5025 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u5026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u5026 {
  position:absolute;
  left:0px;
  top:410px;
  width:179px;
  height:50px;
  font-size:18px;
}
#u5027 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u5028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
}
#u5028 {
  position:absolute;
  left:654px;
  top:23px;
  width:67px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5029 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u5030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u5030 {
  position:absolute;
  left:633px;
  top:25px;
  width:16px;
  height:19px;
}
#u5031 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u5032 {
  position:absolute;
  left:748px;
  top:21px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5033 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u5034 {
  position:absolute;
  left:18px;
  top:322px;
  width:26px;
  height:28px;
}
#u5035 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:51px;
}
#u5036 {
  position:absolute;
  left:179px;
  top:59px;
  width:1250px;
  height:50px;
}
#u5037 {
  position:absolute;
  left:2px;
  top:17px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:766px;
}
#u5038 {
  position:absolute;
  left:180px;
  top:109px;
  width:1250px;
  height:765px;
}
#u5039 {
  position:absolute;
  left:2px;
  top:374px;
  width:1246px;
  word-wrap:break-word;
}
#u5040_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:200px;
  height:23px;
}
#u5040 {
  position:absolute;
  left:207px;
  top:76px;
  width:195px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5040_img.selected {
}
#u5040.selected {
}
#u5041 {
  position:absolute;
  left:10px;
  top:-2px;
  width:183px;
  word-wrap:break-word;
}
#u5042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u5042 {
  position:absolute;
  left:1021px;
  top:19px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5043 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5044 {
  position:absolute;
  left:594px;
  top:17px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u5045 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u5046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:207px;
}
#u5046 {
  position:absolute;
  left:207px;
  top:143px;
  width:344px;
  height:207px;
}
#u5047 {
  position:absolute;
  left:2px;
  top:96px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:142px;
}
#u5048 {
  position:absolute;
  left:564px;
  top:152px;
  width:405px;
  height:141px;
  font-size:16px;
}
#u5049 {
  position:absolute;
  left:2px;
  top:62px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u5050 {
  position:absolute;
  left:599px;
  top:172px;
  width:113px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5051 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u5052 {
  position:absolute;
  left:599px;
  top:228px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u5053 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u5054 {
  position:absolute;
  left:599px;
  top:201px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u5055 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:20px;
}
#u5056 {
  position:absolute;
  left:599px;
  top:257px;
  width:192px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u5057 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u5058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:51px;
}
#u5058 {
  position:absolute;
  left:190px;
  top:371px;
  width:1250px;
  height:50px;
}
#u5059 {
  position:absolute;
  left:2px;
  top:17px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5060_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:200px;
  height:23px;
}
#u5060 {
  position:absolute;
  left:218px;
  top:388px;
  width:195px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5060_img.selected {
}
#u5060.selected {
}
#u5061 {
  position:absolute;
  left:10px;
  top:-2px;
  width:183px;
  word-wrap:break-word;
}
#u5062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:310px;
}
#u5062 {
  position:absolute;
  left:207px;
  top:455px;
  width:1012px;
  height:309px;
}
#u5063 {
  position:absolute;
  left:2px;
  top:146px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:188px;
}
#u5064 {
  position:absolute;
  left:234px;
  top:489px;
  width:199px;
  height:187px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u5065 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u5066 {
  position:absolute;
  left:456px;
  top:489px;
  width:100px;
  height:16px;
}
#u5067 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5066_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5068 {
  position:absolute;
  left:621px;
  top:489px;
  width:100px;
  height:16px;
}
#u5069 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5068_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5070 {
  position:absolute;
  left:456px;
  top:535px;
  width:100px;
  height:16px;
}
#u5071 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5070_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5072 {
  position:absolute;
  left:621px;
  top:535px;
  width:100px;
  height:16px;
}
#u5073 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5072_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5074 {
  position:absolute;
  left:400px;
  top:579px;
  width:300px;
  height:22px;
}
#u5074_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5074_input:disabled {
  color:grayText;
}
#u5075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u5075 {
  position:absolute;
  left:342px;
  top:619px;
  width:121px;
  height:30px;
  color:#666666;
}
#u5075_img.mouseOver {
}
#u5075.mouseOver {
}
#u5075_img.selected {
}
#u5075.selected {
}
#u5076 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u5077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u5077 {
  position:absolute;
  left:473px;
  top:619px;
  width:121px;
  height:30px;
  color:#666666;
}
#u5077_img.mouseOver {
}
#u5077.mouseOver {
}
#u5077_img.selected {
}
#u5077.selected {
}
#u5078 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u5079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u5079 {
  position:absolute;
  left:604px;
  top:619px;
  width:121px;
  height:30px;
  color:#666666;
}
#u5079_img.mouseOver {
}
#u5079.mouseOver {
}
#u5079_img.selected {
}
#u5079.selected {
}
#u5080 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u5081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u5081 {
  position:absolute;
  left:744px;
  top:619px;
  width:121px;
  height:30px;
  color:#666666;
}
#u5081_img.mouseOver {
}
#u5081.mouseOver {
}
#u5081_img.selected {
}
#u5081.selected {
}
#u5082 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u5083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u5083 {
  position:absolute;
  left:883px;
  top:619px;
  width:121px;
  height:30px;
  color:#666666;
}
#u5083_img.mouseOver {
}
#u5083.mouseOver {
}
#u5083_img.selected {
}
#u5083.selected {
}
#u5084 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u5085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u5085 {
  position:absolute;
  left:1033px;
  top:619px;
  width:121px;
  height:30px;
  color:#666666;
}
#u5085_img.mouseOver {
}
#u5085.mouseOver {
}
#u5085_img.selected {
}
#u5085.selected {
}
#u5086 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u5087 {
  position:absolute;
  left:456px;
  top:677px;
  width:100px;
  height:16px;
}
#u5088 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5087_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5089 {
  position:absolute;
  left:621px;
  top:677px;
  width:100px;
  height:16px;
}
#u5090 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5089_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5091 {
  position:absolute;
  left:1008px;
  top:721px;
  width:140px;
  height:25px;
}
#u5091_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
